@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
@import url(./mobile.css) all and (max-device-width: 375px);


*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: 'Open sans', sans-serif;
    margin: 0;
}

h1, h2{
    font-family: 'Poppins';
}
.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
} 
img {
    max-width: 100%;
}
.btn{
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    background-color: #fff;
    color: hsl(322, 100%, 66%);
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
}
.btn-primary{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    font-weight: 700;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}
.btn-subscribe{
    border-radius: 7px;
    padding: 10px 25px;
    font-size: 14px;
}
header{
    padding: 20px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.build{
    text-align: center;
    margin: 150px auto 100px auto;
}
.build>p{
    padding: 0 29%;
}
.build>h1{
    font-size: 2.5em;
}
.community-box{
    justify-content: space-around;    
}
.communities-formed>h2, .messages-sent>h2{
    font-size: 3em;
}
.flexs{
    align-items: center;
}
.grow{
    background-color: hsl(207, 100%, 98%);
    background-image: url(./images/bg-section-top-desktop-1.svg);
}
